// @import url('../../../variables.scss');
@use "../../../variables.scss" as variables;

@mixin navButton
{
  padding: 6px 32px;
  border: none;
  border-radius: 24px;
  outline: none;
  font-weight: variables.$font-weight-semibold;
  font-size: 16px;
  text-transform: uppercase;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-left: 12px;
}

@mixin navButton--hover
{
  // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


@mixin link{
  margin: 12px;
  font-size: 18px;
  color: variables.$gray-2;
  font-weight: variables.$font-weight-semibold;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

@mixin  linkBefore{

  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: variables.$primary-color;
  transform: scaleX(0);
  transition: transform 0.3s ease;

}


.NavBar
{
  position: absolute;
  top:0;
  left:0;
  z-index:999;
  margin-top: 32px;

  &-link
  {
    @include link;
  }

 /**
  *https://tobiasahlin.com/blog/css-trick-animating-link-underlines/
  *
  **/
  &-link::before
  {
      @include linkBefore;
  }

  &-link:hover::before
  {
    transform: scaleX(1);
  }

  &-link:hover
  {
    color: variables.$primary-color;
  }


  &-link--dark
  {
    @include link;

    color: variables.$primary-color;
  }

  &-link--dark:hover{
    color: variables.$white;
  }

  &-link--dark::before
  {
      @include linkBefore;

      color: variables.$white;
  }

  &-link--dark:hover::before
  {
    background-color: variables.$white;

    transform: scaleX(1);
  }

  &-links
  {
    margin: 0 24px;
  }


  &-login
  {
    margin: 0 24px;
  }


  &-create
  {
    @include navButton;
  }
  &-create:hover
  {
    @include navButton--hover;
  }

}