$primary-color: #ed820e ;
$secondary-color: #ed7117;
$tertiary-color: #ec9706;
$clay: #80400b;


$black-1: #000;
$black-2: #010101;


$white: #fff;

$blue-1: #88cdf6;

$gray-1: #535760;
$gray-2: #212529;

$font-weight-light: 200;
$font-weight-semibold: 600;
$font-weight-bold:bold;

