@use "../../variables.scss" as variables;

@mixin uploadButton
{
  padding: 6px 32px;
  border: none;
  border-radius: 24px;
  outline: none;
  font-weight: variables.$font-weight-semibold;
  font-size: 16px;
  text-transform: uppercase;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-left: 12px;
}

@mixin upload-navButton--hover
{
  // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}



.FrameCustomizer {
  display: flex;
  padding: 32px;
  background-color: #fff;
  border-radius: 6px;
  flex-direction: column;

  &-wrapper
  {
    display: flex;

  }

  &-title
  {
    font-size: 32px;
    font-weight: variables.$font-weight-semibold;
    text-transform: uppercase;
    text-align: center;
    color: variables.$blue-1;
    margin-bottom: 12px;
  }

  &-side-conversation
  {
  //  overflow-y:scroll;
  //  overflow-x: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 16px;
  }


  &-figureGroup
  {
    flex-direction: column;
  }

  &-canvas {
    height: 360px;
    width: 320px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  &-canvas:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  &-side {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 16px;
  }

  &-inputFile
  {
    padding: 6px 8px;
    border: none;
    border-radius: 3px;
    outline: none;
    font-weight: variables.$font-weight-semibold;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-left: 12px;
  }

  &-uploadImage
  {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    margin-left: 8px;
  }

  &-uploadButton
  {
    @include uploadButton;
  }

  &-imgPreview
  {
    width: 200px;
    height: 200px;
  }

  &-textArea{
    width: 100%;
    font-size: 16px;
  }

  &-group {
    display: flex;
    padding: 16px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  &-input {
    width: 100%;
    font-size: 16px;
    padding: 6px;
  }

  &-button {
    @include uploadButton;
  }

  &-button:hover {

    @include upload-navButton--hover;
  }
}
