.MuseumForm
{
    background-color: white;
    padding: 32px;
    // width: 600px;
    border-radius: 6px;

    &-group
    {
      padding: 16px 0;
    }
}.MuseumForm
{
    background-color: white;
    padding: 32px;
    // width: 600px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;

    &-group
    {
      padding: 16px 0;
      display: flex;
      flex-direction: row;
    }

    &-row-group {
      flex-direction: row;
      justify-content: center;
      gap: 10px;
      display: flex;
    }

    &-col-group {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
    }
    &-item {
      flex-grow: 1;
    }

    &-action-btn {

      background-color: #8d999d !important ;
      color:white;
    }

   
}

.w-30 {
  width: 30%;
}

