.NavBar-container {
    padding: var(--s) var(--m);
    background-color: var(--medgrey);
    padding-right: 10px;
  }
  
  .NavBar-title {
    color: var(--black);
    font-size: 20px;
  }
  
  .NavBar-linkContainer {

  }
  
  .NavBar-link,
  .NavBar-link:visited {
    color: var(--black);
    opacity: 0.6;
    text-decoration: none;
  }
  
  .NavBar-link:hover {
    opacity: 0.8;
  }
  
  .NavBar-link.NavBar-login {
    opacity: 1;
  }
  
  .NavBar-link + .NavBar-link {
    margin-left: var(--m);
  }
  