.btn
{
    position: absolute;
    top: 60px;
    left: 60px;
    z-index: 999;
}

.btn-tree
{
    position: absolute;
    top: 100px;
    left: 160px;
    z-index: 999;
}

.btn-tower
{
    position: absolute;
    top: 100px;
    left: 260px;
    z-index: 999;
}

.btn-fence1
{
    position: absolute;
    top: 100px;
    left: 360px;
    z-index: 999;
}

.btn-fenceCorner
{
    position: absolute;
    top: 100px;
    left: 460px;
    z-index: 999;
}

.btn-fenceMiddle
{
    position: absolute;
    top: 100px;
    left: 560px;
    z-index: 999;
}

.btn-bridge
{
    position: absolute;
    top: 100px;
    left: 660px;
    z-index: 999;
}

.btn-translate
{
    position: absolute;
    top: 100px;
    left: 760px;
    z-index: 999;
}

.btn-rotate
{
    position: absolute;
    top: 100px;
    left: 860px;
    z-index: 999;
}

.Scene {
    height: 100%;
  }