#scene-container body {
    /* remove margins and scroll bars */
    margin: 0;
    overflow: hidden;
    color: #444;
}
  
  
#scene-container {
  /* tell our scene container to take up the full page */
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}
  
#scene-container canvas {
   position: relative;
}

.room {
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right:10px;
  padding-top:10px;
  position:absolute;
  width: 100%;
  height: 20%;
  bottom:5px;
}

.div-block {
  padding-top:10px;
  display: flex;

}

.div-block .row {
  font-family: 'Roboto';
  background-image: linear-gradient(0deg, rgba(116, 141, 143, 0.28), #ededed 93%, #f5f5f5 96%, #fff);
  height:100%;
  border-color:rgba(110, 110, 143, 0.47);
  border-width: 1px;
  padding: 10px 5px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.room .text-field::placeholder  {
  /* padding: 10px; */
}
.room input:target {
  padding: 10px;
}

.room input:focus {
  outline: none !important;

}
.room .text-field   {
  width: 40%;
  border-radius: 20px 0px 0px 20px;
  font-size:14px;
  padding-left: 15px;
}

.room .field-label {
  padding: 5px;
  padding-bottom:10px;
}

.room .submit-button {
  border-radius: 0px 20px 20px 0px;
  width: 10%;
  margin-left:5px;
  /* 
  margin-left: 0px;
  border-radius: 20px;
  border-color:rgba(61, 98, 98, 0.47);
  background-color: #f4f4f4;
  font-family: Lato, sans-serif;
  color:rgb(56, 88, 107);
  border-width:0.5px;
  box-shadow: 2px 2px 0 0 #6d8b97; */
}



